:root {
    --text-blue: #007bff;
    --text-blue-dark: #3456AF;
    --text-dark: #191919;
    --text-dark-black: #333333;
    --text-white: #fff;
    --text-gray: #8D989D;
    --text-black: #000000;
    --text-red: #FC3B3E;
    --grey-light: #F2F2F2;
    --bgc-gray: #FAFAFA;
    // --indigo: #6610f2;
    // --purple: #6f42c1;
    // --pink: #e83e8c;
    // --red: #dc3545;
    // --orange: #fd7e14;
    // --yellow: #ffc107;
    // --green: #28a745;
    // --teal: #20c997;
    // --cyan: #17a2b8;
    // --white: #fff;
    // --gray-dark: #343a40;
    // --primary: #007bff;
    // --secondary: #6c757d;
    // --success: #28a745;
    // --info: #17a2b8;
    // --warning: #ffc107;
    // --danger: #dc3545;
    // --light: #f8f9fa;
    // --dark: #343a40;
}