@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLight.ttf);
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf);
  font-weight: 550;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.ttf);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf);
  font-weight: normal;
  font-style: bold;
  font-display: swap;
}

:root {
  --text-blue: #007bff;
  --text-blue-dark: #3456AF;
  --text-dark: #191919;
  --text-dark-black: #333333;
  --text-white: #fff;
  --text-gray: #8D989D;
  --text-black: #000000;
  --text-red: #FC3B3E;
  --grey-light: #F2F2F2;
  --bgc-gray: #FAFAFA;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-block {
  display: block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-l-05 {
  margin-left: .5rem;
}

.m-l-1 {
  margin-left: 1rem;
}

.m-l-2 {
  margin-left: 2rem;
}

.m-l-3 {
  margin-left: 3rem;
}

.m-t-05 {
  margin-top: .5rem;
}

.m-t-1 {
  margin-top: 1rem;
}

.m-t-2 {
  margin-top: 2rem;
}

.m-t-3 {
  margin-top: 3rem;
}

.m-t-5 {
  margin-top: 5rem;
}

.m-r-05 {
  margin-right: .5rem;
}

.m-r-1 {
  margin-right: 1rem;
}

.m-r-2 {
  margin-right: 2rem;
}

.m-r-3 {
  margin-right: 3rem;
}

.m-b-05 {
  margin-bottom: .5rem;
}

.m-b-1 {
  margin-bottom: 1rem;
}

.m-b-2 {
  margin-bottom: 2rem;
}

.m-b-5 {
  margin-bottom: 5rem;
}

.col-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.333333%;
      -ms-flex: 0 0 8.333333%;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.66667%;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 41.6666666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 58.3333333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.666667%;
      -ms-flex: 0 0 66.666667%;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.33333%;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.666667%;
      -ms-flex: 0 0 91.666667%;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.col-border-right {
  border-right: 1px solid var(--text-secondary);
}

*, :after, :before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.header {
  background-color: var(--text-white);
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
}

.header_hat {
  border-bottom: 1px solid var(--grey-light);
}

.header_hat .container {
  padding: 14px 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_hat_item {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_hat_item_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header_hat_item_list_link {
  font-size: 16px;
  font-family: "HelveticaNeueCyr";
  font-weight: 550;
  color: var(--text-gray);
  font-style: normal;
  font-display: swap;
  text-decoration: none;
  line-height: 15.81px;
}

.header_hat_item_list .location {
  color: var(--text-blue-dark);
}

.header_hat_working_hours .working_hours_text {
  font-size: 16px;
  font-family: "HelveticaNeueCyr";
  font-weight: 550;
  color: var(--text-black);
  font-style: normal;
  font-display: swap;
}

.header_hat_working_hours .working_hours_text_gray {
  color: var(--text-gray);
  margin-right: 5px;
  line-height: 15.81px;
}

.header_middle {
  margin-top: 22px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_middle .form_search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header_middle .form_search_brends_button {
  width: 213px;
  height: 54px;
  background-color: var(--grey-light);
  -webkit-border-radius: 8px 0px 0px 8px;
          border-radius: 8px 0px 0px 8px;
  font-size: 16px;
  font-family: "HelveticaNeueCyr";
  font-weight: 500;
  color: var(--text-dark);
  font-style: normal;
  font-display: swap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_middle .form_search_brends_button .downIcon {
  margin-top: 2px;
  margin-left: 30px;
}

.header_middle .form_search_input {
  width: 548px;
  height: 54px;
  -webkit-border-radius: 0px 8px 8px 0px;
          border-radius: 0px 8px 8px 0px;
  border: 1px solid var(--grey-light);
  outline: none;
  padding-left: 16px;
  padding-right: 50px;
  font-size: 16px;
  font-family: "HelveticaNeueCyr";
  font-weight: 550;
  color: var(--text-grey);
  font-style: normal;
  font-display: swap;
}

.header_middle .form_search_icon {
  position: absolute;
  top: 18px;
  right: 23px;
  cursor: pointer;
}

.header_middle_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.header_middle_basket {
  width: 48px;
  height: 42px;
  background-color: var(--grey-light);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_middle_signUp {
  width: 152px;
  height: 42px;
  background-color: var(--grey-light);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 17px;
  font-size: 16px;
  font-family: "HelveticaNeueCyr";
  font-weight: 500;
  color: var(--text-dark);
  font-style: normal;
  font-display: swap;
  margin-right: 75px;
}

.header .header_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.header .header_nav_catalog {
  width: 318px;
  height: 60px;
  background-color: var(--text-blue-dark);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header_nav_catalog_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header .header_nav_catalog_text {
  font-size: 18px;
  font-family: "HelveticaNeueCyr";
  font-weight: 550;
  color: var(--text-white);
  font-style: normal;
  font-display: swap;
  padding-left: 15px;
}

.header .header_nav_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header_nav_item_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .header_nav_item_list_link {
  font-size: 16px;
  font-family: "HelveticaNeueCyr";
  font-weight: 550;
  color: var(--text-dark);
  font-style: normal;
  font-display: swap;
  text-decoration: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header .header_nav_item_list_link:hover {
  color: var(--text-blue-dark);
}

.header .header_nav_contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header_nav_contact_btn {
  width: 226px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 25px;
}

.header .header_nav_contact_btn .contact_phone_num {
  font-size: 16px;
  font-family: "HelveticaNeueCyr";
  font-weight: 550;
  color: var(--text-dark);
  font-style: normal;
  font-display: swap;
  text-decoration: none;
}

.header .header_nav_contact_btn .contact_phone_text {
  font-size: 12px;
  font-family: "HelveticaNeueCyr";
  font-weight: 550;
  color: var(--text-gray);
  font-style: normal;
  font-display: swap;
}

.header .header_nav_contact_btn .contact_phone_downIcon {
  margin-left: 19px;
}

.advertising .advertising_background {
  background-image: url("/assets/images/reklama-bgc.jpg");
  width: 100%;
  height: 388px;
  margin-top: 24px;
  padding: 60px 0 0 89px;
}

.advertising_title_text {
  font-size: 40px;
  font-family: "HelveticaNeueCyr";
  font-weight: 500;
  color: var(--text-white);
  font-style: normal;
  font-display: swap;
  line-height: 50px;
}

.advertising_text {
  font-size: 16px;
  font-family: "HelveticaNeueCyr";
  font-weight: 550;
  color: var(--text-white);
  font-style: normal;
  font-display: swap;
  margin-top: 16px;
}

.our_services {
  margin-top: 62px;
}

.our_services_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our_services_item_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 262px;
}

.our_services_item_list .our_services_icon {
  margin-right: 8px;
}

.our_services_item_list .our_services_text {
  font-size: 16px;
  font-family: "HelveticaNeueCyr";
  font-weight: 500;
  color: var(--text-dark);
  font-style: normal;
  font-display: swap;
  line-height: 20.8px;
}

.for_trucks {
  margin-top: 60px;
}

.for_trucks_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.for_trucks_title_text {
  font-size: 24px;
  font-family: "HelveticaNeueCyr";
  font-weight: 700;
  color: var(--text-dark);
  font-style: normal;
  font-display: swap;
  margin-bottom: 24px;
}

.for_trucks .for_bus {
  width: 660px;
  height: 260px;
  background-color: var(--bgc-gray);
  -webkit-border-radius: 16px;
          border-radius: 16px;
  border: 2px solid var(--bgc-gray);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  position: relative;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.for_trucks .for_bus_text {
  width: 246px;
}

.for_trucks .for_bus_text_title {
  font-size: 20px;
  font-family: "HelveticaNeueCyr";
  font-weight: 600;
  color: var(--text-blue-dark);
  font-style: normal;
  font-display: swap;
  line-height: 25px;
}

.for_trucks .for_bus_text_sub {
  font-size: 14px;
  font-family: "HelveticaNeueCyr";
  font-weight: 550;
  color: var(--text-gray);
  font-style: normal;
  font-display: swap;
  margin-top: 8px;
}

.for_trucks .for_bus_brends {
  margin-top: 32px;
}

.for_trucks .for_bus_open_info {
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: var(--grey-light);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--text-gray);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.for_trucks .for_bus:hover {
  border: 2px solid var(--text-blue-dark);
}

.for_trucks .for_bus:hover .for_bus_open_info {
  background-color: var(--text-blue-dark);
  color: var(--text-white);
}

.for_trucks .trucks_china,
.for_trucks .trucks_specialist {
  width: 315px;
  height: 260px;
  background-color: var(--bgc-gray);
  -webkit-border-radius: 16px;
          border-radius: 16px;
  border: 2px solid var(--bgc-gray);
  position: relative;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.for_trucks .trucks_china_text,
.for_trucks .trucks_specialist_text {
  width: 246px;
}

.for_trucks .trucks_china_text_title,
.for_trucks .trucks_specialist_text_title {
  font-size: 20px;
  font-family: "HelveticaNeueCyr";
  font-weight: 600;
  color: var(--text-dark);
  font-style: normal;
  font-display: swap;
  line-height: 25px;
  padding-left: 16px;
  margin-top: 16px;
}

.for_trucks .trucks_china_text_sub,
.for_trucks .trucks_specialist_text_sub {
  font-size: 14px;
  font-family: "HelveticaNeueCyr";
  font-weight: 550;
  color: var(--text-gray);
  font-style: normal;
  font-display: swap;
  margin-top: 8px;
  padding-left: 16px;
}

.for_trucks .trucks_china .trucks_brends,
.for_trucks .trucks_specialist .trucks_brends {
  width: 100%;
  margin-top: 12px;
}

.for_trucks .trucks_china_open_info,
.for_trucks .trucks_specialist_open_info {
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: var(--grey-light);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--text-gray);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.for_trucks .trucks_china:hover,
.for_trucks .trucks_specialist:hover {
  border: 2px solid var(--text-blue-dark);
}

.for_trucks .trucks_china:hover .trucks_china_open_info,
.for_trucks .trucks_china:hover .trucks_specialist_open_info,
.for_trucks .trucks_specialist:hover .trucks_china_open_info,
.for_trucks .trucks_specialist:hover .trucks_specialist_open_info {
  background-color: var(--text-blue-dark);
  color: var(--text-white);
}

.for_trucks .trucks_china .specialist_brend,
.for_trucks .trucks_specialist .specialist_brend {
  margin-top: 33px;
}

.for_trucks .track_brend {
  margin-top: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.for_trucks .track_brend .col-4 {
  margin: 0;
  padding: 0;
}

.for_trucks .track_brend_title_text {
  font-size: 20px;
  font-family: "HelveticaNeueCyr";
  font-weight: 700;
  color: var(--text-black);
  font-style: normal;
  font-display: swap;
  padding-left: 15px;
  margin-bottom: 10px;
}

.for_trucks .track_brend_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.for_trucks .track_brend_item_list .brand_name {
  width: 200px;
  height: 45px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 15px;
  font-size: 14px;
  font-family: "HelveticaNeueCyr";
  font-weight: 500;
  color: var(--text-gray);
  font-style: normal;
  font-display: swap;
}

.for_trucks .track_brend_item_list .brand_name:hover {
  background-color: var(--grey-light);
  color: var(--text-black);
  cursor: pointer;
}

.stock_slider {
  margin: 60px 0;
}

.stock_slider .container {
  overflow-x: hidden;
}

.stock_slider_title_text {
  font-size: 24px;
  font-family: "HelveticaNeueCyr";
  font-weight: 600;
  color: var(--text-dark);
  font-style: normal;
  font-display: swap;
}

.stock_slider_list {
  position: relative;
  width: auto;
  height: auto;
}

.stock_slider_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.stock_slider_item .stock_slider_list_img {
  width: 397px;
  height: 190px;
}

.stock_slider_item .active_slider {
  width: 522px;
  height: 218px;
  margin: 0 99px;
}

.stock_slider_item .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: .6;
}

.stock_slider_item .prev,
.stock_slider_item .next {
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 99;
}

.stock_slider_item .prev {
  left: 0px;
}

.stock_slider_item .next {
  right: 0px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.news_title_text {
  font-size: 24px;
  font-family: "HelveticaNeueCyr";
  font-weight: 600;
  color: var(--text-dark);
  font-style: normal;
  font-display: swap;
  margin-bottom: 17px;
}

.news_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news_item_list {
  width: 430px;
  height: 191px;
  background-color: var(--grey-light);
  -webkit-border-radius: 16px;
          border-radius: 16px;
  padding: 24px 0 0 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid var(--grey-light);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.news_item_list:hover {
  border: 2px solid var(--text-blue-dark);
}

.news_item_list_day {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news_item_list_day .day_text {
  font-size: 40px;
  font-family: "HelveticaNeueCyr";
  font-weight: 700;
  color: var(--text-red);
  font-style: normal;
  font-display: swap;
  line-height: 52px;
}

.news_item_list_day .month_text {
  font-size: 12px;
  font-family: "HelveticaNeueCyr";
  font-weight: 550;
  color: var(--text-red);
  font-style: normal;
  font-display: swap;
  line-height: 15.6px;
}

.news_item_list_text {
  margin-left: 32px;
}

.news_item_list_text .title_text {
  font-size: 24px;
  font-family: "HelveticaNeueCyr";
  font-weight: 700;
  color: var(--text-dark);
  font-style: normal;
  font-display: swap;
  line-height: 31.2px;
}

.news_item_list_text .sub_text {
  font-size: 18px;
  font-family: "HelveticaNeueCyr";
  font-weight: 450;
  color: var(--text-gray);
  font-style: normal;
  font-display: swap;
  line-height: 23.4px;
  margin-top: 12px;
}

.track_info {
  margin-top: 60px;
}

.track_info_title_text {
  font-size: 32px;
  font-family: "HelveticaNeueCyr";
  font-weight: 700;
  color: var(--text-black);
  font-style: normal;
  font-display: swap;
}

.track_info_text {
  font-size: 16px;
  font-family: "HelveticaNeueCyr";
  font-weight: 500;
  color: var(--text-black);
  font-style: normal;
  font-display: swap;
  line-height: 24px;
}

.track_info_brend,
.track_info .checkout {
  font-size: 16px;
  font-family: "HelveticaNeueCyr";
  font-weight: 500;
  color: var(--text-black);
  font-style: normal;
  font-display: swap;
  line-height: 24px;
}

.track_info_brend .brend_list,
.track_info_brend .checkout_list,
.track_info .checkout .brend_list,
.track_info .checkout .checkout_list {
  font-size: 16px;
  font-family: "HelveticaNeueCyr";
  font-weight: 500;
  color: var(--text-black);
  font-style: normal;
  font-display: swap;
  line-height: 24px;
  margin-left: 10px;
}

.footer {
  background-color: var(--grey-light);
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  padding: 52px 0;
  margin-top: 60px;
}

.footer_title_text {
  font-size: 32px;
  font-family: "HelveticaNeueCyr";
  font-weight: 700;
  color: var(--text-black);
  font-style: normal;
  font-display: swap;
  line-height: 31.84px;
}

.footer_title_sub_text {
  font-size: 16px;
  font-family: "HelveticaNeueCyr";
  font-weight: 500;
  color: var(--text-black);
  font-style: normal;
  font-display: swap;
  margin-top: 16px;
}

.footer .footer_hat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer_hat_img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer_form {
  margin-top: 16px;
  margin-bottom: 8px;
}

.footer_form_input {
  width: 365px;
  height: 45px;
  border: none;
  outline: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 0 16px;
  font-size: 16px;
  font-family: "HelveticaNeueCyr";
  font-weight: 500;
  color: var(--text-gray);
  font-style: normal;
  font-display: swap;
}

.footer_form_button {
  width: 257px;
  height: 45px;
  background-color: var(--text-blue-dark);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-size: 16px;
  font-family: "HelveticaNeueCyr";
  font-weight: 500;
  color: var(--text-white);
  font-style: normal;
  font-display: swap;
  margin-left: 8px;
  cursor: pointer;
}

.footer .footer_hat_text {
  font-size: 12px;
  font-family: "HelveticaNeueCyr";
  font-weight: 500;
  color: var(--text-gray);
  font-style: normal;
  font-display: swap;
}

.footer .footer_menu {
  margin-top: 88px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer_menu_title_text {
  font-size: 16px;
  font-family: "HelveticaNeueCyr";
  font-weight: 700;
  color: var(--text-dark-black);
  font-style: normal;
  font-display: swap;
  margin-bottom: 18px;
}

.footer .footer_menu_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer_menu_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.footer .footer_menu_list_text {
  text-decoration: none;
  font-size: 14px;
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  color: var(--text-dark-black);
  font-style: normal;
  font-display: swap;
  margin-top: 20px;
}

.footer .footer_menu_list_text:hover {
  color: var(--text-blue-dark);
}

.footer .footer_menu .right_list {
  margin-left: 46px;
}

.footer .footer_menu .company_list {
  margin-left: 80px;
}

.footer_feedback {
  margin-top: 10px;
  margin-left: 140px;
}

.footer_feedback_title_text {
  font-size: 18px;
  font-family: "HelveticaNeueCyr";
  font-weight: 500;
  color: var(--text-dark-black);
  font-style: normal;
  font-display: swap;
  margin-bottom: 8px;
}

.footer_feedback_phone {
  font-size: 24px;
  font-family: "HelveticaNeueCyr";
  font-weight: 700;
  color: var(--text-blue-dark);
  font-style: normal;
  font-display: swap;
}

.footer_feedback .time {
  font-size: 14px;
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  color: var(--text-gray);
  font-style: normal;
  font-display: swap;
}

.footer_feedback_address {
  font-size: 14px;
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  color: var(--text-dark);
  font-style: normal;
  font-display: swap;
  line-height: 18.2px;
  margin-top: 16px;
}

.footer_feedback_contacts {
  margin-top: 29px;
}

.footer_feedback_contacts_list {
  margin-right: 24px;
}
